/*Configurações padrão*/
@import url('base/reset.css');
@import url('base/global.css');

/*Componentes*/
@import url('components/header.css');
@import url('components/article.css');
@import url('components/aside.css');
@import url('components/section.css');


/*Layout grid*/

#container{
    display: grid;
    grid-template-areas:
    'header header header'
    'aside section article'
    ;
    justify-content: space-between;
}