.aside{
    grid-area: aside;
    overflow-x: scroll;
}

.options{
    margin: 10px 20px;
    position: fixed;
}

.options ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.options li{
    margin: 10px 0;
}

.options a{
    text-decoration: none;
}